.content{
    max-width: 800px;
    margin: 1.5em auto;
    transition: all 0.2s ease;
}

.noReposText{
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.5em;
    color: #666;
}

.repo-list{
    margin-top: 1.5em;
}

@media screen and (max-width: 768px) {
    .content{
        max-width: 100%;
    }
    .noReposText{
        font-size: 1em;
    }
}
    