.profile-card {
  max-width: 800px;
  display: flex;
  align-items: center;
  padding: 0.6em;
}

.avatar {
  width: 100%;
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5em;
}
.defaultAvatar{
  width: 100%;
  max-width: 40px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5em;
  color: #888888;
}

.details {
  display: flex;
  flex-direction: column;
}

.login {
  text-decoration-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  transition: text-decoration-color 0.2s ease-in-out;
}

.login:hover{
  text-decoration: underline;
  text-decoration-color: #333;
  text-decoration-thickness: 2px;
}

@media (max-width: 768px) {
  .profile-card {
    justify-content: center;
  }
  .avatar {
    max-width: 70px;
    margin-right: 1em;
  }
  .login {
    font-size: 1em;
    font-weight: 500;
  }
  .numberRepos {
    font-size: 0.9em;
  }
}
