.repo-card {
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.2s;
  margin-bottom: 1em;
  border-radius: 4px;
}

.repo-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

.repo-basic-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.visibility {
  color: #555;
  border-radius: 4px;
  padding: 0.2em;
}

.repo-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: #1f6feb;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;
}

.repo-name:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.repo-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.repo-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-info {
  display: flex;
  align-items: center;
}

.repo-language {
  font-size: 0.8rem;
  color: #888;
  margin-right: 1.2em;
}

.repo-stars {
  font-size: 0.8rem;
  color: #888;
}
.repo-updatedAt {
  font-size: 0.8rem;
  color: #888;
}
.repo-forks {
  font-size: 0.8rem;
  color: #888;
  margin-right: 1.2em;
}

.repo-owner {
  display: flex;
  align-items: center;
}

.repo-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.repo-card:hover::before {
  opacity: 0.6;
}
