.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40vw;
  margin-right: 0.8em;
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  outline: none;
  border-color: #1f6feb;
}

@media (max-width: 768px) {
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .search-bar input {
    margin-right: 0.2em;
  }
}
